<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class='container'>
        <a class='navbar-brand' href='/'>F8 Education</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse flex-row-reverse' id="navbarSupportedContent">
            <ul class='navbar-nav'>
                <li class='nav-item dropdown'>
                
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img class="avatar-user" src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-6/302678831_199123999209559_4707082705389301046_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=slZau_hIssEAX-2YD--&_nc_ht=scontent.fhan18-1.fna&oh=00_AfD-dAA654fpTX0MAx3yAz8ftm27DSsJwthvDe-XOPJm2Q&oe=63933D6F" />
                        <span class = "name-user">Doãn Nam</span>
                
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a class='dropdown-item' href='#'>Thông tin</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/courses/create'>Tạo khóa học</a></li>
                        <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>